.add-todo {
  margin-top: 2rem;
  padding: 0.8rem;
  border: 2px solid var(--iconColor);
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  color: var(--textColor);
}
.add-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 1rem;
  border: dotted 2px var(--bgColor);
}
.input-section {
  width: 300px;
  display: flex;
  flex-direction: column;
}
.btn-section {
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
