.main-section {
  display: flex;
  align-items: center;
  height: calc(100vh - 10vh);
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.add-icon {
  color: var(--borderColor);
  font-size: 6rem;
}
