.btn-todo-list {
  display: flex;
  border: none;
  box-shadow: var(--iconColor) 0px 0px 3px;
  background: none;
  font-size: 1.5rem;
  color: var(--iconColor);
  border-radius: 4px;
  width: 1.4rem;
  height: 1.4rem;
  align-items: center;
  justify-content: center;
}
.btn-todo-list:hover {
  box-shadow: var(--iconColor) 0px 0px 5px;
}
