.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--iconColor);
  color: var(--textColor);
  padding: 0.5rem 2rem;
  width: 100%;

  position: fixed;
  top: 0;
}

.header .links {
  display: flex;
  gap: 2rem;
}

.header .links .link {
  color: var(--textColor);
  font-size: 1.5rem;
  text-decoration: none;
}
