.card-wrapper {
  display: flex;
  width: 100%;
  border: 2px solid var(--borderColor);
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  width: fit-content;
  padding: 0rem 1rem;
}
.para {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100px;
  color: var(--textColor);
  border-top: var(--borderColor) 2px solid;
  border-bottom: var(--borderColor) 2px solid;
}
