/* App.css */
.todo-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  border-radius: 8px;
  width: 300px;
  height: auto;
  margin-top: 1rem;
  flex-direction: column;
  box-shadow: rgba(229, 137, 8, 0.3) 0px 0px 3px;
}

.todo-card-content {
  flex: 1;
  width: 100%;
}

.todo-icons-wrapper {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  flex-direction: column;
  display: flex;
  gap: 0.8rem;
  width: 100%;
  align-items: baseline;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
}
.label-container {
  display: flex;
  padding-right: 2rem;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
}
.description label {
  height: fit-content;
  padding-bottom: 1rem;
}
.description {
  word-wrap: break-word;
  word-break: break-all;
}
.todo-card-text {
  display: flex;
  color: var(--textColor);
  flex-direction: column;
}
.time-container {
  display: flex;
  padding-right: 2rem;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
}
